html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #212A3D;
}

a {
  text-decoration: none;
  color: #d85513;
  font-weight: 600;
  line-height: 2em;
  font-size: 14px;
  border-bottom: 2px solid #d85513;
  padding-bottom: 5px;
  transition: all 0.2s;
}

a:hover {
  opacity: 0.6;
}

h2 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 80px 14%;
}